.light {
  --color-accent: 49 50 55;
  /* For main interactable elements */
  --color-primary: #313237;
  --color-surface-0: 255 255 255;
  --color-surface-1: 255 255 255;
  --color-surface-2: 255 255 255;
  --color-secondary: 137 147 154;
  /* For text */
  --color-icons: 180 189 195;
  --color-elements: 226 231 233;
  --color-hover-bg: 250 251 252;
  --color-white: 255 255 255;
  --color-green: 39 174 96;
  --color-red: 235 87 87;
  --color-black: 59 62 74;
  --color-accent-hover: 0 0 0;
  --color-text-main: 59 62 74;
  --color-text-secondary: 137 147 154;
  --color-header-icons: #313237;
  --color-button-text-success: 39 174 96;
  --color-interface-border: 226 231 233;
}

.dark {
  --color-accent: 144 91 255;
  --color-primary: 255 255 255;
  /* For main text */
  --color-secondary: 117 118 127;
  --color-surface-0: 15 17 33;
  --color-surface-1: 22 24 40;
  --color-surface-2: 59 62 74;
  --color-icons: 74 77 88;
  --color-elements: 59 62 74;
  --color-hover-bg: 250 251 252;
  --color-white: 241 242 249;
  --color-green: 39 174 96;
  --color-red: 235 87 87;
  --color-black: 59 62 74;
  --color-accent-hover: 163 120 255;
  --color-text-main: 255 255 255;
  --color-text-secondary: 255 255 255;
  --color-header-icons: #F1F2F9;
  --color-button-text-success: 255 255 255;
  --color-interface-border: 22 24 40;
}
