.slide {
  height: 100%;
  object-fit: cover;
}

.leftArrow,
.rightArrow {
  width: 32px;
  flex-shrink: 0;
}

.bullet {
  display: block;
  width: 14px;
  height: 4px;

  background-color: #e2e6e9;
  cursor: pointer;
}

.bulletActive {
  background-color: #313237;
}

@media (max-width: 639px) {
  .slide {
    height: 320px;
  }
  .leftArrow,
  .rightArrow {
    display: none;
  }
}
